<div style="justify-content: space-evenly !important;">
<mat-toolbar class="home-message" fxLayout="row">
<mat-icon (click)="drawer.toggle() && toggle()">menu</mat-icon>
  <div *ngIf="show;else elseBlock">
    <h1  class="toolbar-text" >State: Menu is active and grid is inactive</h1>
  </div>
  <ng-template #elseBlock>
    <h1 class="toolbar-text">State: Menu is inactive and grid is active</h1>
  </ng-template>
</mat-toolbar>
</div>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <div>
      <mat-selection-list #topic [multiple]="false" >
        <mat-list-option (click)="selectTopic(topic)" *ngFor="let topic of typesOfTopics" [value]="topic">
          {{topic}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-drawer>
      <div class="row" *ngFor="let photo of topicPhotos" >
        <div class="column">
            <img [src]="photo" height="300px" width="250px">
        </div>
      </div>
 </mat-drawer-container>



